# requirements.txt 
flask
gunicorn
python-dotenv
langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-pinecone==0.2.13
pinecone-client>=3.2.2
pypdf
sentence-transformers
chromadb
openai
torch
transformers